doctype html
html
  head
    title Title
    meta(charset='UTF-8')
    meta(name='description', content='')
    link(href='css/index.css', type='text/css', rel='stylesheet')
  body
    script(src='js/bundle.js', type='text/javascript')
